---
import Shell from '../layouts/Shell.astro'
---

<Shell
  title="School"
  description="Schools hosted on compa and how to apply for an instance">
  <div class="container mx-auto min-h-[60vh]">
    <h1 class="text-3xl font-bold">School</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="col-span-1">
        <p>
          All gctu students are allowed to make contributions on gctuvc platform :
        </p>

        <table class="mt-8 w-full">
          <tbody>
            <tr class="align-top">
              <td>Ghana Communication and Technology University</td>
              <td>
                <a
                  class="text-blue-500 underline"
                  href="https://gctuvc.com">
                  gctuvc.com
                </a>
              </td>
            </tr>
          
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</Shell>
