<svg width="180" height="180" xmlns="http://www.w3.org/2000/svg" fill="none">
  <g>
   <title>Layer 1</title>
   <path d="m0,41.7795c0,-23.0742 18.7053,-41.7795 41.7795,-41.7795l96.4415,0c23.074,0 37.779,17.7053 41.779,41.7795l0,96.4415c0,23.074 -18.705,41.779 -41.779,41.779l-96.4415,0c-23.0742,0 -41.7795,-18.705 -41.7795,-41.779l0,-96.4415z" fill="#F9A81F" id="svg_1"/>
   <path id="svg_2" d="m88.11966,12.8791c-35.89878,0 -64.99997,32.23716 -64.99997,71.99743c0,13.58649 3.44038,26.28369 9.35944,37.12859l-9.35944,30.307l26.06021,-9.8724c10.85953,9.01947 24.31469,14.4394 38.93975,14.4394c35.89875,0 65.00003,-32.23727 65.00003,-72.00258s-29.10127,-71.99743 -65.00003,-71.99743l0,0zm-10.66035,99.64635l-10.85517,16.0191l-29.85304,-44.0972l29.84859,-44.10752l10.85963,16.05574l-18.99349,28.05179l18.99349,28.0781zm32.83028,15.99823l-10.85071,-16.04004l18.99873,-28.04656l-18.99873,-28.0572l10.85071,-16.04005l29.85308,44.06577l-29.85308,44.11807z" fill="#623908"/>
   <text transform="matrix(0.763118, 0, 0, 0.891039, 14.1841, 8.91015)" font-style="italic" xml:space="preserve" text-anchor="start" font-family="Noto Sans JP" font-size="18" stroke-width="0" id="svg_4" y="87.96726" x="65.80506" fill="#F9A81F">gctuvc</text>
   <path id="svg_5" d="m273,147" opacity="NaN" fill="#F9A81F"/>
   <path id="svg_6" d="m93,97" opacity="NaN" fill="#F9A81F"/>
  </g>
 
 </svg>