---
import LogoDuo from "./LogoDuo.astro";
---

<header class="container mx-auto py-12 flex justify-between items-center">
  <a href="/"><LogoDuo /></a>

  <div>
    <nav>
      <ul class="flex items-center gap-4">
        <li>
          <a href="/schools" class="ml-4 p-2 bg-blue-500 text-white rounded-lg hover:bg-red-700 transition duration-200">School</a>
        </li>
        
      </ul>
    </nav>
  </div>
</header>
